.PriAbout {
    background-color: rgb(48, 48, 69);
    color: rgb(243, 238, 238);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.text-about{
    width: 30rem;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-family: 'Exo 2', sans-serif;
    color: rgb(209, 208, 206);
    text-align: justify;
    
    }

.photo-background {
    width: 100%;
    height: 100%;
    border-color: #000000;
    position: relative;
}

.row-about{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin: 50px 30px 50px;
}