
.cart-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0.4rem 1rem;

}
   
.cart-item-image{
    width: 100px;
    height: 100px;
    background-color: #ffff;
    border-radius: 5px;
}

.cart-item-details{
    flex-direction: column;
    width: 110%;
    padding: 0 1.5rem; 
}
.cart-item-name{
    font-size: 0.6rem;
    color: #ffff;
    font-weight: bold;
}

.cart-item-price{
    font-size: 1rem;
    color: #ffff;
    font-weight: bold;
}
.cart-item-quantity{
    font-size: 0.8rem;
    color: #ffff;
    font-weight: bold;
}

.cart-item-actions{
    display: flex;
}

.cart-item-actions-remove{
    background-color: rgb(121, 118, 118);
    border: none;
    border-radius: 1px;
    padding: 0.5rem 1 rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: rgb(243, 237, 237);
    cursor: pointer;
    
}