

.sidebar-container{
    position: fixed;
    top: 0;
    right: 0;
    width: 20vw;
    height: 100vh;
    background-color: rgb(46, 45, 47);
    padding: 2rem;
    z-index: 1;
    transition:  all 0.5s ease-in-out;
}

.close-button-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.close-button{
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: rgb(237, 230, 228);
    font-size: 1rem;
    font-weight: bold;

}