.container{
    background-color: rgb(225, 225, 233);
    color: rgb(27, 26, 26);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    height: 100vh;
}

.title{
    font-size: 22px;
    font-weight: bold;
    color: rgb(51, 48, 48);
}

.list-container{
    background-color:  rgb(225, 225, 233);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 15px;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    /*margin-top: 15px;*/
}

.button{
    display: flex;
    background-color: rgb(225, 225, 233);
    border: px solid #212121;
    border-radius: 5px;
    padding: 10px;
    margin: 10px, 10px, 10px, 10px;
    font-size: 14px;
    font-weight: bold;
    color: #212121;
    cursor: pointer;
}

.button:hover{
    background: color #cfcdd8;;
    color:#fff;
}

.button:disabled{
    background-color: aliceblue;
    color: #fff;
    cursor: not-allowed;
}

